/* Universal section starts here.. */
* {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
}

.title-primary {
    font-size: 2.8rem;
    font-weight: 700;
}

.desc-primary {
    color: var(--dark-03);
    font-size: 1rem;
    font-weight: 400;
}

/* header section starts here.. */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-title {
    color: var(--dark-01);
    font-size: 2.8rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02);
}

/* banner section starts here.. */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-01);
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section starts here.. */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* team section starts here.. */
.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-img-container img {
    border: 1px solid var(--dark-03);
    border-radius: 8px;
}

.team-right-content {
    padding-left: 70px;
    padding-right: 70px;
}

.title-primary .title-1st {
    color: var(--dark-03);
    font-weight: 500;
}

.title-primary .title-2nd {
    color: var(--dark-01);
}

.title-primary .title-3rd {
    color: #FF900E;
}

/* feature section starts here.. */
.feature-container {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-container .title-primary {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content-left .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-01);
}

.right-img {
    height: 90%;
    margin-left: 90px;
    border: 2px solid rgb(55, 0, 255);
}

.ten-years-badge {
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFF;
    width: 340px;
    text-align: center;
    padding: 40px;
    font-weight: 700;
    position: relative;
    bottom: 100px;
    left: -50px;
    border: 2px solid red;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

/* fact section starts here.. */
.fact-container {
    margin-top: 120px;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-weight: 600;
    padding: 30px;
}

.card-number {
    color: var(--dark-02);
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.fact-card-container .card-title {
    color: var(--dark-03);
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsor section starts here.. */
.sponsor-top {
    text-align: center;
    margin: 150px;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
}

.sponsor-img-container img {
    width: 165px;
}

/* footer section starts here.. */
.footer {
    max-width: 1440px;
    background-color: rgba(255, 144, 14, 0.10);
    border-radius: 8px;
    padding: 1rem;
    margin: 80px auto;
}

.footer .desc-primary {
    text-align: center;
}

/* responsive media queries starts here.. */
/* for small device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .fact-card-container,
    .sponsor-img-container,
    .feature-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img-container {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .team-right-content,
    .fact-card-container,
    .fact-container,
    .feature-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right-img {
        margin: 0 auto;
    }

    .right-img img {
        width: 100%;
    }

    .ten-years-badge {
        width: auto;
        left: 0;
        bottom: 1rem;
        padding: 10px;
    }

    .fact-card-container {
        gap: 20px;
    }

    .sponsor-top {
        margin: 20px;
    }
}

/* for mid device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .fact-card-container,
    .sponsor-img-container,
    .feature-container {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .right-img {
        margin: 0 auto;
    }

    .right-img img {
        width: 100%;
    }

    .ten-years-badge {
        width: auto;
        left: 0;
        bottom: 1rem;
        padding: 30px;
    }

    .fact-card-container {
        gap: 10px;
    }

    .fact-container,
    .feature-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .btn-primary {
        margin-bottom: 20px;
    }
}